.cv-control {
    border: 2px solid black;
    background: var(--main-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cv-control.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}