form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.form-field {
    display: flex;
    justify-content: start;
    gap: 2rem;
}