.form-control {
    background-color: var(--bg-color-2);
    max-width: 450px;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}