.form-control {
    background-color: var(--bg-color-2);
    border-radius: 5px;
    width: max(20rem, 80%);
    border: 2px solid black;
    box-shadow: 2px 3px 8px #00000099;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}