form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 2px solid black;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-field {
    display: flex;
    justify-content: space-between;
}

input {
    background-color: var(--bg-color-2);
    color: black;
    border: 2px solid black;
    font-family: inherit;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

textarea {
    background: var(--bg-color-2);
    border: 2px solid black;
    color: black;
    font-family: inherit;
    border-radius: 5px;
}

textarea:focus {
    outline: none;
}