form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1.5px solid black;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.form-field {
    display: flex;
    justify-content: space-between;
}

input {
    background-color: var(--bg-color-2);
    color: black;
    border: 1.5px solid black;
    font-family: inherit;
    border-radius: 5px;
    padding: 2px 4px;
}

input:focus {
    outline: 1.5px solid #2454da;
    border: 1.5px solid transparent;
}

textarea {
    background: var(--bg-color-2);
    border: 1.5px solid black;
    color: black;
    font-family: inherit;
    border-radius: 5px;
    padding: 2px 4px;
}

textarea:focus {
    outline: 1.5px solid #2454da;
    border: 1.5px solid transparent;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button.clear-btn {
    background-color: var(--clear-btn-color);
}

button.clear-btn:hover {
    background-color: var(--clear-btn-hover);
}