.general-info {
    border: 2px solid black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

form {
    border-top: 2px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    display: flex;
    justify-content: space-between;
}