.general-info {
    background-color: var(--bg-color-2);
    border: 2px solid black;
    max-width: 450px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}