.resume {
    background-color: white;
    box-shadow: 2px 3px 15px #00000099;
}

.general {
    background-color: var(--btn-color);
    padding: 1rem;
    border-bottom: 2px solid black;
}

.experience {
    padding: 1rem;
}

.education {
    padding: 1rem;
}

.educationHeading {
    border-bottom: 2px solid black;
}

.schoolHeading {
    display: flex;
    justify-content: space-between;
}

.experienceHeading {
    border-bottom: 2px solid black;
}

.experience .firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
}