* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.controls {
  padding: min(5%, 4rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.display {
  padding: min(5%, 4rem);
}

button {
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: var(--btn-color);
  cursor: pointer;
  border: 2px solid black;
}

button:hover {
  background-color: var(--btn-color-hover);
}