* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.controls {
  padding: min(5%, 4rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.display {
  padding: min(5%, 4rem);
}

button {
  min-width: 5rem;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: var(--btn-color);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 2px 3px 5px #00000040;
}

button:hover {
  background-color: var(--btn-color-hover);
}

button:focus-visible {
  outline: 2px solid black;
}