* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.controls {
  padding: min(8%, 4rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display {
  padding: min(8%, 4rem);
}

button {
  border-radius: 8px;
  border: 2px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: var(--dark-color);
  cursor: pointer;
}